x64/
x86/
Debug/
Release/
build/
bin/
obj/
out/
.vs/
.vscode/

*.exe
*.dll
*.lib
*.pdb
*.ilk
*.exp
*.obj
*.o

*.suo
*.user
*.userosscache
*.sln.docstates
*.opensdf
*.sdf
*.ipch
*.ap
*.tlog
*.idb

.DS_Store
Thumbs.db